@{
	ViewData["Title"] = "QuizGo - Principal";
}

<section id="gtco-hero" class="gtco-cover" style="background-image: url(https://cf.quizizz.com/img/landing/fallback5.jpg);" data-section="home" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">
				<div class="display-t">
					<div class="display-tc">
						<h1 class="animate-box" data-animate-effect="fadeIn">Una mejor manera de aprender</h1>
						<p class="gtco-video-link animate-box" data-animate-effect="fadeIn"><a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-controller-play"></i></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="gtco-our-team" data-section="nosotros">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
				@*<h1>Our Team</h1>
				<p class="sub">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				<p class="subtle-text animate-box" data-animate-effect="fadeIn">Our Team</p>*@
			</div>
		</div>
		<div class="row team-item gtco-team-reverse">
			<div class="col-md-6 col-md-push-7 animate-box" data-animate-effect="fadeInRight">
				<div class="img-shadow">
					@*<img src="assets/images/img_team_1.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">*@
				</div>
			</div>
			<div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
				@*<h2>Jeff Finley</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aliquid maiores, voluptatum ex. Accusantium, eum distinctio laudantium. Perferendis dolor, corporis quasi? Tempore quod molestiae quis cumque pariatur dolore vel sit, fugit delectus quasi reprehenderit officia voluptate incidunt, culpa odit impedit qui dolorum fugiat. Quidem possimus reprehenderit, quae recusandae voluptatibus magnam!</p>
				<p>Ratione facilis quod laborum eaque illo dolore blanditiis nobis dicta voluptatem fugit optio, eveniet non dolor quia delectus, sint, dignissimos atque porro consequuntur unde. Soluta ex necessitatibus delectus saepe aliquam, culpa officiis doloremque, ipsa facere hic, voluptatem accusantium veniam, quasi! Explicabo accusantium sint, corporis consequuntur fugit ipsam, dolorum excepturi adipisci.</p>*@
			</div>
		</div>

		<div class="row team-item gtco-team">
			<div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
				<div class="img-shadow">
					@*<img src="assets/images/img_team_2.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">*@
				</div>
			</div>
			<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
				@*<h2>Craig Campbell</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aliquid maiores, voluptatum ex. Accusantium, eum distinctio laudantium. Perferendis dolor, corporis quasi? Tempore quod molestiae quis cumque pariatur dolore vel sit, fugit delectus quasi reprehenderit officia voluptate incidunt, culpa odit impedit qui dolorum fugiat. Quidem possimus reprehenderit, quae recusandae voluptatibus magnam!</p>
				<p>Ratione facilis quod laborum eaque illo dolore blanditiis nobis dicta voluptatem fugit optio, eveniet non dolor quia delectus, sint, dignissimos atque porro consequuntur unde. Soluta ex necessitatibus delectus saepe aliquam, culpa officiis doloremque, ipsa facere hic, voluptatem accusantium veniam, quasi! Explicabo accusantium sint, corporis consequuntur fugit ipsam, dolorum excepturi adipisci.</p>*@
			</div>
		</div>

	</div>
</section>
<section id="gtco-about" data-section="unirse">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
				<h1 class="margen">Ingresar Código</h1>
				<div class="sub">
					<input type="text" class="form-control input_codigo input-number" maxlength="6" placeholder="Código" name="numero_codigo" id="numero_codigo">
					<br><br><button class="active btn_iniciar"><span><i class="fas fa-check-circle"></i></span> Iniciar</button>
				</div>

			</div>
		</div>
	</div>
</section>
<section id="gtco-practice-areas" data-section="practice-areas">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
				<h1>Cuestionarios</h1>
				<p class="sub">Es hora de aprender jugando, compite, divertete, disfruta y sobre todo aprende. Una nueva forma innovadora de estudiar.</p>
				<p class="subtle-text animate-box" data-animate-effect="fadeIn">Cuestionario</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="gtco-practice-area-item animate-box">
					<div class="gtco-icon">
						@*<img src="assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">*@
					</div>
					<div class="gtco-copy">
						@*<h3>Criminal Law</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>*@
					</div>
				</div>

				<div class="gtco-practice-area-item animate-box">
					<div class="gtco-icon">
						@*<img src="assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">*@
					</div>
					<div class="gtco-copy">
						@*<h3>Industrial Law</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>*@
					</div>
				</div>

				<div class="gtco-practice-area-item animate-box">
					<div class="gtco-icon">
						@*<img src="assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">*@
					</div>
					<div class="gtco-copy">
						@*<h3>Financial Law</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>*@
					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="gtco-practice-area-item animate-box">
					<div class="gtco-icon">
						@*<img src="assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">*@
					</div>
					<div class="gtco-copy">
						@*<h3>Divorce Law</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>*@
					</div>
				</div>

				<div class="gtco-practice-area-item animate-box">
					<div class="gtco-icon">
						@*<img src="assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">*@
					</div>
					<div class="gtco-copy">
						@*<h3>Corporate Law</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>*@
					</div>
				</div>

				<div class="gtco-practice-area-item animate-box">
					<div class="gtco-icon">
						@*<img src="assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">*@
					</div>
					<div class="gtco-copy">
						@*<h3>Accident Law</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>*@
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<footer id="gtco-footer" role="contentinfo">
	<div class="container">

		<div class="row copyright">
			<div class="col-md-12">
				<p class="pull-left">
					<small class="block">&copy; 2018 Aprender es divertido</small>
					<small class="block">Diseñado por <a href="http://freehtml5.co/" target="_blank">GUSTAVO HUARACC</a></small>
				</p>
				<div class="pull-right">
					<ul class="gtco-social-icons pull-right">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</footer>

